#profileInfo {
    max-width: 600px;
    margin: auto;
    margin-top: 6vw;
}

#editProfileInfo {
    max-width: 600px;
    margin: auto;
}

#profilePicture {
    max-width: 18vw;
    height: auto;
    border-radius: 50%;
    float: left;
    margin-right: 20px;
}

#editButton {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

#editButton:hover {
    background-color: #45a049;
}

.lkab {
    margin-top: 20vw;
}
