#profileInfo {
    max-width: 600px;
    margin: auto;
    margin-top: 6vw;
}

#profilePicture {
    max-width: 18vw;
    height: auto;
    border-radius: 50%;
    float: left;
    margin-right: 20px;
}

#editButton {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

#editButton:hover {
    background-color: #45a049;
}

#editForm {
    display: none;
    margin-top: 20px;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

lkab {
    margin-top: 20vw;
}

button[type="submit"]:hover {
    background-color: #45a049;
}
